$bgDefault      : $blue;
$bgHighlight    : #0a5375;
$colDefault     : $white;
$colHighlight   : $white;
$dropDown       : false;
.navbar-right{
    margin-right:15px
}
.navbar-collapse.collapsing,
.navbar-collapse.in{
    margin-top:30px;
}
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  padding:30px 0 30px 0;
  margin-bottom:0;
  font-family: "museo_slab500", serif;
  font-size:14px;
  .navbar-brand {
    color: $colDefault;
    padding:0 15px;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $white;
      }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
          }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background: $bgHighlight;
     }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
